@charset "UTF-8";
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

.wraper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #407bb7;
}
.wraper > div {
  width: 100%;
}

.boxes {
  position: relative;
  background-color: red;
}

.box {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  width: 100%;
  height: 100%;
  background-color: #407bb7;
  position: relative;
  font-size: 126px;
  text-align: center;
}

.parent {
  display: grid;
  background-color: #fff;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.result {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  position: relative;
  text-align: center;
  font-size: 35px;
  color: #59ff00;
  white-space: nowrap;
}
.result p {
  font-size: 20px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.players {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 15px;
}
.players input {
  font-size: 10px;
  text-align: center;
}
.players span {
  font-size: 20px;
  font-weight: bold;
}

.player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: red;
}

.playerInfo::after {
  content: "Maksylanie 8 znaków";
  position: absolute;
  width: 150px;
  height: 15px;
  top: -15px;
  font-size: 10px;
  color: #59ff00;
  text-align: center;
}

.numOfGames {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.numOfGames > select {
  font-size: 15px;
}

.tableResults {
  font-size: 15px;
  text-align: center;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.button {
  font-size: 20px;
  background-color: #59ff00;
  border: 0;
  border-radius: 13px;
  padding: 5px 15px;
  margin: 0 10px;
}
.button:hover {
  scale: 1.05;
  -webkit-box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.4);
  -webkit-transition: scale 0.3s, -webkit-box-shadow 0.3s;
  transition: scale 0.3s, -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s, scale 0.3s;
  transition: box-shadow 0.3s, scale 0.3s, -webkit-box-shadow 0.3s;
}
.button__reset {
  background-color: #ff0000;
}

.alert {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.5764705882);
}
.alert p {
  -ms-flex-item-align: center;
      align-self: center;
  background-color: #fff;
  padding: 10px 50px;
  color: black;
  font-size: 20px;
  border-radius: 13px;
}

.sign {
  position: relative;
  width: 50px;
  height: 25px;
}
.sign::after, .sign::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #59ff00;
  border: 1px solid;
}
.sign::before {
  right: 0;
  background-color: #fff;
  border-left: 0;
}
.sign:checked::after {
  background-color: #fff;
}
.sign:checked::before {
  background-color: #59ff00;
}

.hide {
  display: none;
}/*# sourceMappingURL=main.css.map */