@charset "UTF-8";
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

body {
  position: relative;
  height: 100dvh;
  width: 100dvw;
  background-color: #407bb7;
  color: #fff;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

.wraper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 10px 20px 20px 20px;
}
.boxes {
  position: relative;
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  height: 100%;
}

.box {
  width: 100%;
  height: 100%;
  background-color: #407bb7;
  position: relative;
  text-align: center;
}

.parent {
  display: grid;
  background-color: #fff;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

#id1 {
  grid-area: 1/1/2/2;
}

#id2 {
  grid-area: 1/2/2/3;
}

#id3 {
  grid-area: 1/3/2/4;
}

#id4 {
  grid-area: 2/1/3/2;
}

#id5 {
  grid-area: 2/2/3/3;
}

#id6 {
  grid-area: 2/3/3/4;
}

#id7 {
  grid-area: 3/1/4/2;
}

#id8 {
  grid-area: 3/2/4/3;
}

#id9 {
  grid-area: 3/3/4/4;
}

.result {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0;
  color: #59ff00;
  text-align: center;
}
.result > p {
  font-size: 30px;
}
.result > p + p {
  font-size: 10px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.players {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 5px 0;
}
.players input:not(.sign) {
  width: auto;
  width: 100%;
  text-align: center;
}
.players span {
  font-size: 20px;
  font-weight: bold;
}

.player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.playerInfo::after {
  content: "Maksylanie 8 znaków";
  position: absolute;
  width: 150px;
  height: 15px;
  top: -15px;
  font-size: 10px;
  color: #59ff00;
  text-align: center;
}

.numOfGames {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
  color: white;
}
.numOfGames > select {
  margin-left: 3px;
  color: white;
  background-color: transparent;
  font-size: 15px;
}

.tableResults {
  display: block;
  margin: 10px auto;
  font-size: 15px;
  text-align: center;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.button {
  font-size: 20px;
  background-color: #59ff00;
  margin: 0 10px;
  padding: 5px 10px;
  border: 0;
  border-radius: 13px;
}
.button:hover {
  scale: 1.05;
  -webkit-box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.4);
  -webkit-transition: scale 0.3s, -webkit-box-shadow 0.3s;
  transition: scale 0.3s, -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s, scale 0.3s;
  transition: box-shadow 0.3s, scale 0.3s, -webkit-box-shadow 0.3s;
}
.button__reset {
  background-color: #ff0000;
}

.alert {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.5764705882);
}
.alert p {
  -ms-flex-item-align: center;
      align-self: center;
  background-color: #fff;
  color: black;
  font-size: 20px;
  border-radius: 13px;
}

.sign {
  position: relative;
  min-width: 50px;
  height: 25px;
}
.sign::after, .sign::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #59ff00;
  border: 1px solid;
}
.sign::before {
  right: 0;
  background-color: #fff;
  border-left: 0;
}
.sign:checked::after {
  background-color: #fff;
}
.sign:checked::before {
  background-color: #59ff00;
}

.hide {
  display: none;
}/*# sourceMappingURL=main.css.map */